/* Reset and base styles  */
@import url(../fonts/FedraSansPro/stylesheet.css);

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.5;
    background-color: rgb(249, 249, 249);
    height: 100%;

    color: #333;
    background-color: #f4f4f4; /* Светло-серый фон */
}

/* Основной стиль */
html {
    font-size: 16px; /* Базовый размер шрифта для больших экранов */
}

body {
    font-size: 1rem; /* Основной размер текста */
    line-height: 1.6;
}

/* Заголовки */
h1 {
    font-size: 1.5rem; /* Для больших экранов */
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

p, li, a {
    font-size: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
}


/* Links */

a, a:link, a:visited {
    text-decoration: none;
    color: #151618;
}

a:hover {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}